body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Loader */

/* loader */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #373737;
  padding: 2rem;
}

.loader{
  width: 10px;
  height: 10px;
  margin: 40px auto;
  background: #373737;
}

/* list */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  display: block;
  width: 50px;
  height: 50px;
  margin: 20px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.outline {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 10px solid white;
}

/* Menu */

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.line {
  width: 42px;
  height: 2px;
  background-color: #373737;
}

.navbar {
  flex-direction: column;
}

.navbar li {
  padding: 1rem;
  border: 1px solid #373737;
  cursor: pointer;
}
